* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #f08080;
}

button {
    margin-top: 10px;
    padding: 8px 16px;
    background-color: lightcoral;
    border: 1px solid lightcoral;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

#delete-btn {
    background-color: white;
    color: lightcoral;
}

ul {
    margin-top: 20px;
    list-style-type: none;
}

li {
    margin-top: 10px;
}

li a {
    color: lightcoral;
}